:root {
  --color-white: #f5f5f5;
  --color-dark: #1a1a1a;
  --color-border: #cccccc;
}

@font-face {
  font-family: "ToyotaType";
  src: url("./assets/fonts/ToyotaType-Black.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-BlackIt.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-Bold.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-BoldIt.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-Book.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-BookIt.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-Light.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-LightIt.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-Regular.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-RegularIt.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-Semibold.ttf") format("truetype"),
    url("./assets/fonts/ToyotaType-SemiboldIt.ttf") format("truetype");
}

.App {
  font-family: " ToyotaType", "Arial", "Helvetica", sans-serif;
}

header {
  background: var(--color-dark);
  text-align: center;
}

.headerContainer {
  max-width: 1440px;
  padding: 130px 56px;
  position: relative;
}

footer,
.headerContainer,
.contactContainer {
  margin: 0 auto;
}

footer {
  margin-top: 60px;
  text-align: left;
  max-width: 1224px;
  padding: 0 24px;
}

.footerContainer {
  border-top: 1px solid var(--color-border);
}

.footerDisclaimerBox {
  padding: 0 24px;
}

.contactSection {
  background: url("./assets/images/background.png");
  padding: 100px 0;
}

.contactContainer {
  max-width: 780px;
  text-align: center;
  background: var(--color-dark);
  padding: 40px 30px;
}

h1 {
  color: #f5f5f5;
  font-size: 48px;
}

h2 {
  color: #f5f5f5;
  font-size: 32px;
}

h4 {
  font-size: 14px;
}

.body2 {
  font-size: 12px;
  margin-bottom: 18px;
  color: #1a1a1a;
}

button {
  font-family: " ToyotaType", "Arial", "Helvetica", sans-serif;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  margin: 5px;
}

.primaryButton,
.secondaryButton {
  border-radius: 80px;
  font-weight: bold;
  padding: 10px 30px;
}

.primaryButton {
  background: var(--color-white);
}

.secondaryButton {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
}

.arrowSign {
  display: inline-block;
  margin-right: 14px;
}
